<h1>Polls App</h1>

<a href="{% url 'polls:index'%}">Polls</a> | 
{% if user.is_authenticated %}
    Logged in as <b>{{ user.username }}</b> | <a href="{% url 'polls:logout'%}">Logout GTFO</a>
{% else %}
    <a href="{% url 'polls:login'%}">Login</a> | 
    <a href="{% url 'polls:signup'%}">Signup</a>
{% endif %}

{% block content %}
{% endblock content %}